/* seecltor {
  property: value;
} */

* {
  text-align: right;
}

body {
  background-image: url(backGroundImage.jpg);
  background-size: cover;
}

h2,
p {
  color: red;
  text-align: center;
  border: 5px dashed purple;
  cursor: pointer;
}

p {
  line-height: 20px;
  font-style: ttalic;
}

li {
  list-style: none;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: rgba(0, 0, 255, 00.2);
}

#div2 {
  background: rgba(255, 0, 0, 00.2);
}
